* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Gill Sans, Candara, sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

p {
  text-align: center;
  padding: 20px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-transform: uppercase;
  margin: 0;
  margin-top: 10px;
}

span {
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.5);
}

nav {
  margin-top: 20px;
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  background-color: rgb(205,92,92);
  padding: 10px;
  margin-left: 0px;
  margin-right: 15px;
  font-size: 20px;
  width: 100px;
}

a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}

input {
  margin-left: 20px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 15px;

}
