/* * {
  box-sizing: border-box;
} */

body {
  margin: 0;
}

.container {
  border: 1px solid black;
  height: 363px;
}


h1 {
  background-color: #004;
  color: white;
  text-transform: uppercase;
  margin: 0;
}

.columna1,
.columna2,
.columna3 ,
.columna4 {
  /* border: 1px solid red; */
  display: inline-block;
  width: 25%;
  height: inherit;
}
